<?xml version="1.0" encoding="utf-8"?>
<!-- repeatable nuget configuration -->
<!-- https://learn.microsoft.com/en-us/nuget/consume-packages/configuring-nuget-behavior -->
<configuration>
    <packageSources>
        <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    </packageSources>
</configuration> 
