name: CommonsBase_Std.S7z # we'll build this object
on:
  push:              # build on every commit
  workflow_dispatch: # allow manual triggering from GitHub page

jobs:
    build:
        # Your job will be different, but this job needs Windows since CommonsBase_Std.S7z.MacLinux7zExe@25.1.0 has OSFamily=windows.
        runs-on: windows-2022
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Cache dk data stores and build keys
              uses: actions/cache@v4
              with:
                  # The data stores and build keys are safe to share between Windows, macOS and Linux
                  enableCrossOsArchive: true
                  path: |
                      target/data/dk/val.1
                      target/data/dk/cts.1.*
                      target/config/dk/build.pub
                      target/config/dk/build.sec
                  restore-keys: dk-stores-and-keys             # use latest cache
                  key: dk-stores-and-keys-${{ github.run_id }} # update cache on every run

            - name: Build ${{ github.workflow }}
              env:
                  # Cross-platform CI caches behave best when the cached data is under the project directory
                  XDG_CONFIG_HOME: ${{ github.workspace }}/target/config
                  XDG_DATA_HOME: ${{ github.workspace }}/target/data
              run: |
                git clone --branch V2_4 https://github.com/diskuv/dk.git dk0
                dk0/mlfront-shell -I dk0/pkgs/include/CommonsBase_Std --verbose -- get-object '${{ github.workflow }}@25.1.0' -s File.Darwin_arm64   -m ./7zz.exe -f target/Darwin_arm64.7zz.exe
                dk0/mlfront-shell -I dk0/pkgs/include/CommonsBase_Std --verbose -- get-object '${{ github.workflow }}@25.1.0' -s File.Darwin_x86_64  -m ./7zz.exe -f target/Darwin_x86_64.7zz.exe
                dk0/mlfront-shell -I dk0/pkgs/include/CommonsBase_Std --verbose -- get-object '${{ github.workflow }}@25.1.0' -s File.Linux_arm      -m ./7zz.exe -f target/Linux_arm.7zz.exe
                dk0/mlfront-shell -I dk0/pkgs/include/CommonsBase_Std --verbose -- get-object '${{ github.workflow }}@25.1.0' -s File.Linux_arm64    -m ./7zz.exe -f target/Linux_arm64.7zz.exe
                dk0/mlfront-shell -I dk0/pkgs/include/CommonsBase_Std --verbose -- get-object '${{ github.workflow }}@25.1.0' -s File.Linux_x86      -m ./7zz.exe -f target/Linux_x86.7zz.exe
                dk0/mlfront-shell -I dk0/pkgs/include/CommonsBase_Std --verbose -- get-object '${{ github.workflow }}@25.1.0' -s File.Linux_x86_64   -m ./7zz.exe -f target/Linux_x86_64.7zz.exe
                dk0/mlfront-shell -I dk0/pkgs/include/CommonsBase_Std --verbose -- get-object '${{ github.workflow }}@25.1.0' -s File.Windows_x86    -m ./7zz.exe -f target/Windows_x86.7zz.exe
                dk0/mlfront-shell -I dk0/pkgs/include/CommonsBase_Std --verbose -- get-object '${{ github.workflow }}@25.1.0' -s File.Windows_x86_64 -m ./7zz.exe -f target/Windows_x86_64.7zz.exe

            - name: Test 7zz.exe
              run: target/Windows_x86_64.7zz.exe --help

            # Create release if and only if tag is pushed
            - name: Release all slots
              uses: softprops/action-gh-release@v2
              if: github.ref_type == 'tag'
              with:
                files: |
                  target/Darwin_arm64.7zz.exe
                  target/Darwin_x86_64.7zz.exe
                  target/Linux_arm.7zz.exe
                  target/Linux_arm64.7zz.exe
                  target/Linux_x86.7zz.exe
                  target/Linux_x86_64.7zz.exe
                  target/Windows_x86.7zz.exe
                  target/Windows_x86_64.7zz.exe
