name: CommonsBase@2.5.x  # we'll build multiple libraries
on:
  push:
    tags:
      - '2.5.*' # build if tag is pushed
    branches:
      - main    # will be translated to `dkdist_branch_version` (prerelease and build metadata can't be used when distributing versions)
  workflow_dispatch: # allow manual triggering from GitHub page
env:
  dkdist_branch_version: 2.5.1 # must have non-zero patch version

jobs:
    # JOB DESIGN:
    #
    # Each job in this workflow is a "package job" that build and distributes a single package.
    # Tags are `VERSION+PACKAGE` (ex. 2.5.202602060017+CommonsBase-Std) where the PACKAGE is
    # the package name with underscores replaced by dashes and periods replaced by double dashes
    # to be valid semver build metadata required by `dk0 import-github-l2 --tag <tag>`.
    # A design alternative to PACKAGE-encoded tags would be to use an input variable for PACKAGE,
    # but that requires the dk developer to go to the GitHub Actions UI and we lose the PACKAGE
    # in `git log`.
    #
    # The +PACKAGE and any other build metadata will be stripped by `diskuv/dk-distribute@v1`.
    # But we wanted PACKAGE to be visible to this GitHub workflow so that each package can be built
    # independently with a self-contained GitHub package job (self-contained == little or no `needs:`),
    # especially since some packages have time-consuming builds. Instead of `needs:` we expect:
    # 1. The developer to do a `dk0 import-github-l2` once a package is built.
    # 2. Each package job in this workflow file to manipulate the etc/dk/i system directory in a
    # `Import Dependencies` step so that only packages that are required (ie. `needs:`) are
    # present in the etc/dk/i directory. For example, the CommonsBase_Build package job should only have
    # the CommonsBase_Std package in its etc/dk/i directory, and especially not have
    # etc/dk/i/CommonsBase_Build.values.json which would conflict with the
    # etc/dk/v/CommonsBase_Build.values.json that should be built.
    #
    # Package independence is also the basic dk design principle of "loose federation
    # of packages" in SPECIFICATION.md; any package job in this workflow file can be moved to a
    # different GitHub repository which is relatively easy to do because we have self-contained
    # GitHub jobs. In particular, packages that are not CommonsBase_* should be moved once the
    # experiment is over.
    #
    # Steps:
    # For the main branch, `Archive` step is save artifacts generated for later debugging.
    # For tags only, `Attest` + `Release` steps are to save attestation and artifacts publicly.

    CommonsBase_Std:
        # tag(2.5.x+CommonsBase-Std) or branch(main)
        if: (github.ref_type == 'tag' && startsWith(github.ref_name, '2.5.') && endsWith(github.ref_name, '+CommonsBase-Std')) || github.ref_name == 'main'

        # runs-on(Windows): CommonsBase_Std requires Windows to build S7z
        runs-on: windows-2022

        permissions:
          contents: write # for action-gh-release
          id-token: write # for actions/attest-build-provenance
          attestations: write # for actions/attest-build-provenance
          artifact-metadata: write # for actions/attest-build-provenance

        # The secrets created by `dksrc/dk0 prepare-version --ci github VERSION`
        # are tied to this environment only.
        environment: dk-distribution
        steps:
            - name: Harden Runner # Optional but recommended
              uses: step-security/harden-runner@c6295a65d1254861815972266d5933fd6e532bdf # v2.11.1
              with: { egress-policy: audit }
            - name: Checkout project
              uses: actions/checkout@v5

            - name: Distribute Modules
              uses: diskuv/dk-distribute@v1
              with:
                  id: ${{ github.ref_type == 'tag' && format('CommonsBase_Std@{0}', github.ref_name) || format('CommonsBase_Std@{0}', env.dkdist_branch_version) }}
                  pubkey: ${{ secrets.distribute_2_5_pubkey }}
                  seckey: ${{ secrets.distribute_2_5_seckey }}
                  options: -nosysinc -I etc/dk/v
                  objects: |
                    Release.Windows_x86_64:CommonsBase_Std.S7z.S7zr@25.1.0
                    Release.Windows_x86_64:CommonsBase_Std.S7z.Windows7zExe@25.1.0

                    Release.Windows_x86:CommonsBase_Std.Coreutils@0.2.2
                    Release.Windows_x86_64:CommonsBase_Std.Coreutils@0.2.2
                    Release.Darwin_arm64:CommonsBase_Std.Coreutils@0.2.2
                    Release.Darwin_x86_64:CommonsBase_Std.Coreutils@0.2.2
                    Release.Linux_x86:CommonsBase_Std.Coreutils@0.2.2
                    Release.Linux_x86_64:CommonsBase_Std.Coreutils@0.2.2

                    Release.Windows_x86:CommonsBase_Std.S7z@25.1.0
                    Release.Windows_x86_64:CommonsBase_Std.S7z@25.1.0
                    Release.Darwin_arm64:CommonsBase_Std.S7z@25.1.0
                    Release.Darwin_x86_64:CommonsBase_Std.S7z@25.1.0
                    Release.Linux_x86:CommonsBase_Std.S7z@25.1.0
                    Release.Linux_x86_64:CommonsBase_Std.S7z@25.1.0

                    Release.Windows_x86:CommonsBase_Std.Fd@10.3.0
                    Release.Windows_x86_64:CommonsBase_Std.Fd@10.3.0
                    Release.Darwin_arm64:CommonsBase_Std.Fd@10.3.0
                    Release.Darwin_x86_64:CommonsBase_Std.Fd@10.3.0
                    Release.Linux_x86:CommonsBase_Std.Fd@10.3.0
                    Release.Linux_x86_64:CommonsBase_Std.Fd@10.3.0
                  scripts: |
                    CommonsBase_Std.Extract@0.1.0
                  use-cache: true
                  # TODO: put MlFront commit ref and/or version number into distribution; it is part of provenance.
                  #   Use HEAD when not tagged
                  experimental-mlfront-ref: ${{ github.ref_type != 'tag' && 'HEAD' }}
                  #   Temporary: always use HEAD until MlFront testing is done
                  # experimental-mlfront-ref: HEAD

            - name: Archive CommonsBase_Std
              if: github.ref_type != 'tag'
              uses: actions/upload-artifact@v4
              with:
                name: dist-CommonsBase_Std
                path: dk-dist/

            - name: Attest
              if: github.ref_type == 'tag'
              id: attest
              uses: actions/attest-build-provenance@v3
              with: { subject-path: dk-dist/* }

            - name: Release ${{ github.workflow }}
              if: github.ref_type == 'tag'
              uses: softprops/action-gh-release@f38efdea4c5ffe13e9424b0aa2833bee28f1e34c # v2. Oct. 6, 2025
              with: { files: dk-dist/* }

    CommonsBase_Build:
        # tag(2.5.x+CommonsBase-Build) or branch(main)
        if: (github.ref_type == 'tag' && startsWith(github.ref_name, '2.5.') && endsWith(github.ref_name, '+CommonsBase-Build')) || github.ref_name == 'main'

        # runs-on(anything). Linux is cheapest and quickest to boot in Github Actions
        runs-on: ubuntu-24.04

        permissions:
          contents: write # for action-gh-release
          id-token: write # for actions/attest-build-provenance
          attestations: write # for actions/attest-build-provenance
          artifact-metadata: write # for actions/attest-build-provenance

        # The secrets created by `dksrc/dk0 prepare-version --ci github VERSION`
        # are tied to this environment only.
        environment: dk-distribution
        steps:
            - name: Harden Runner # Optional but recommended
              uses: step-security/harden-runner@c6295a65d1254861815972266d5933fd6e532bdf # v2.11.1
              with: { egress-policy: audit }

            - name: Checkout project
              uses: actions/checkout@v5

            - name: Import Dependencies
              shell: bash
              env:
                GH_TOKEN: ${{ github.token }}
                DEPENDENCIES: CommonsBase_Std
              run: |
                find etc/dk/i -mindepth 1 -type f -exec rm -f {} +
                .github/scripts/import-latest-gh-releases.sh -m -c "$GITHUB_STEP_SUMMARY" -r '${{ github.repository }}' $DEPENDENCIES
                for d in $DEPENDENCIES; do rm -vrf etc/dk/v/$d.* etc/dk/v/$d/; done
                find etc/dk/i -type f

            - name: Distribute Modules
              uses: diskuv/dk-distribute@v1
              with:
                  id: ${{ github.ref_type == 'tag' && format('CommonsBase_Build@{0}', github.ref_name) || format('CommonsBase_Build@{0}', env.dkdist_branch_version) }}
                  pubkey: ${{ secrets.distribute_2_5_pubkey }}
                  seckey: ${{ secrets.distribute_2_5_seckey }}
                  options: -nosysinc -I etc/dk/i -I etc/dk/v # "Import Dependencies" etc/dk/i rather than default system dependencies dksrc/etc/dk/i
                  # No `Release.Windows_x86:CommonsBase_Build.Ninja0@1.12.1` today
                  objects: |
                    Release.Windows_arm64:CommonsBase_Build.Ninja0@1.12.1
                    Release.Windows_x86_64:CommonsBase_Build.Ninja0@1.12.1
                    Release.Darwin_arm64:CommonsBase_Build.Ninja0@1.12.1
                    Release.Darwin_x86_64:CommonsBase_Build.Ninja0@1.12.1
                    Release.Linux_x86:CommonsBase_Build.Ninja0@1.12.1
                    Release.Linux_x86_64:CommonsBase_Build.Ninja0@1.12.1
                    Release.Linux_arm64:CommonsBase_Build.Ninja0@1.12.1

                    Release.Agnostic:CommonsBase_Build.CMake0.Phony@3.25.3
                  scripts: |
                    CommonsBase_Build.CMake0@3.25.3
                  use-cache: true
                  # TODO: put MlFront commit ref and/or version number into distribution; it is part of provenance.
                  #   Use HEAD when not tagged
                  experimental-mlfront-ref: ${{ github.ref_type != 'tag' && 'HEAD' }}
                  #   Temporary: always use HEAD until MlFront testing is done
                  # experimental-mlfront-ref: HEAD

            - name: Archive CommonsBase_Build
              if: github.ref_type != 'tag'
              uses: actions/upload-artifact@v4
              with:
                name: dist-CommonsBase_Build
                path: dk-dist/

            - name: Attest
              if: github.ref_type == 'tag'
              id: attest
              uses: actions/attest-build-provenance@v3
              with: { subject-path: dk-dist/* }

            - name: Release ${{ github.workflow }}
              if: github.ref_type == 'tag'
              uses: softprops/action-gh-release@f38efdea4c5ffe13e9424b0aa2833bee28f1e34c # v2. Oct. 6, 2025
              with: { files: dk-dist/* }

    NotGoogleDev_OR:
        # tag(2.5.x+NotGoogleDev-OR) or branch(main)
        if: (github.ref_type == 'tag' && startsWith(github.ref_name, '2.5.') && endsWith(github.ref_name, '+NotGoogleDev-OR')) || github.ref_name == 'main'

        # runs-on(anything). Linux is cheapest and quickest to boot in Github Actions
        runs-on: ubuntu-24.04

        permissions:
          contents: write # for action-gh-release
          id-token: write # for actions/attest-build-provenance
          attestations: write # for actions/attest-build-provenance
          artifact-metadata: write # for actions/attest-build-provenance

        # The secrets created by `dksrc/dk0 prepare-version --ci github VERSION`
        # are tied to this environment only.
        environment: dk-distribution
        steps:
            - name: Harden Runner # Optional but recommended
              uses: step-security/harden-runner@c6295a65d1254861815972266d5933fd6e532bdf # v2.11.1
              with: { egress-policy: audit }

            - name: Checkout project
              uses: actions/checkout@v5

            - name: Import Dependencies
              shell: bash
              env:
                GH_TOKEN: ${{ github.token }}
                DEPENDENCIES: CommonsBase_Std CommonsBase_Build
              run: |
                find etc/dk/i -mindepth 1 -type f -exec rm -f {} +
                .github/scripts/import-latest-gh-releases.sh -m -c "$GITHUB_STEP_SUMMARY" -r '${{ github.repository }}' $DEPENDENCIES
                for d in $DEPENDENCIES; do rm -vrf etc/dk/v/$d.* etc/dk/v/$d/; done
                find etc/dk/i -type f

            - name: Distribute Modules
              uses: diskuv/dk-distribute@v1
              with:
                  id: ${{ github.ref_type == 'tag' && format('NotGoogleDev_OR@{0}', github.ref_name) || format('NotGoogleDev_OR@{0}', env.dkdist_branch_version) }}
                  pubkey: ${{ secrets.distribute_2_5_pubkey }}
                  seckey: ${{ secrets.distribute_2_5_seckey }}
                  options: -nosysinc -I etc/dk/i -I etc/dk/v # "Import Dependencies" etc/dk/i rather than default system dependencies dksrc/etc/dk/i
                  scripts: |
                    NotGoogleDev_OR.Tools@9.15.0
                  use-cache: true
                  # TODO: put MlFront commit ref and/or version number into distribution; it is part of provenance.
                  #   Use HEAD when not tagged
                  experimental-mlfront-ref: ${{ github.ref_type != 'tag' && 'HEAD' }}
                  #   Temporary: always use HEAD until MlFront testing is done
                  # experimental-mlfront-ref: HEAD

            - name: Archive NotGoogleDev_OR
              if: github.ref_type != 'tag'
              uses: actions/upload-artifact@v4
              with:
                name: dist-NotGoogleDev_OR
                path: dk-dist/

            - name: Attest
              if: github.ref_type == 'tag'
              id: attest
              uses: actions/attest-build-provenance@v3
              with: { subject-path: dk-dist/* }

            - name: Release ${{ github.workflow }}
              if: github.ref_type == 'tag'
              uses: softprops/action-gh-release@f38efdea4c5ffe13e9424b0aa2833bee28f1e34c # v2. Oct. 6, 2025
              with: { files: dk-dist/* }

    NotInriaParkas_Caml:
        # tag(2.5.x+NotInriaParkas-Caml) or branch(main)
        if: (github.ref_type == 'tag' && startsWith(github.ref_name, '2.5.') && endsWith(github.ref_name, '+NotInriaParkas-Caml')) || github.ref_name == 'main'

        # runs-on(macOS). This NotInriaParkas_Caml package has (so far) been developed only for macOS
        runs-on: macos-latest

        permissions:
          contents: write # for action-gh-release
          id-token: write # for actions/attest-build-provenance
          attestations: write # for actions/attest-build-provenance
          artifact-metadata: write # for actions/attest-build-provenance

        # The secrets created by `dksrc/dk0 prepare-version --ci github VERSION`
        # are tied to this environment only.
        environment: dk-distribution
        steps:
            - name: Harden Runner # Optional but recommended
              uses: step-security/harden-runner@c6295a65d1254861815972266d5933fd6e532bdf # v2.11.1
              with: { egress-policy: audit }

            - name: Checkout project
              uses: actions/checkout@v5

            - name: Import Dependencies
              shell: bash
              env:
                GH_TOKEN: ${{ github.token }}
                DEPENDENCIES: CommonsBase_Std CommonsBase_Build NotGoogleDev_OR
              run: |
                find etc/dk/i -mindepth 1 -type f -exec rm -f {} +
                .github/scripts/import-latest-gh-releases.sh -m -c "$GITHUB_STEP_SUMMARY" -r '${{ github.repository }}' $DEPENDENCIES
                for d in $DEPENDENCIES; do rm -vrf etc/dk/v/$d.* etc/dk/v/$d/; done
                find etc/dk/i -type f

            - name: Distribute Modules
              uses: diskuv/dk-distribute@v1
              with:
                  id: ${{ github.ref_type == 'tag' && format('NotInriaParkas_Caml@{0}', github.ref_name) || format('NotInriaParkas_Caml@{0}', env.dkdist_branch_version) }}
                  pubkey: ${{ secrets.distribute_2_5_pubkey }}
                  seckey: ${{ secrets.distribute_2_5_seckey }}
                  options: -nosysinc -I etc/dk/i -I etc/dk/v # "Import Dependencies" etc/dk/i rather than default system dependencies dksrc/etc/dk/i
                  objects: |
                    Release.Darwin_x86_64:NotInriaParkas_Caml.ORTools@9.15.0
                    Release.Darwin_arm64:NotInriaParkas_Caml.ORTools@9.15.0
                  use-cache: true
                  # TODO: put MlFront commit ref and/or version number into distribution; it is part of provenance.
                  #   Use HEAD when not tagged
                  experimental-mlfront-ref: ${{ github.ref_type != 'tag' && 'HEAD' }}
                  #   Temporary: always use HEAD until MlFront testing is done
                  # experimental-mlfront-ref: HEAD

            - name: Archive Logs
              if: failure()
              uses: actions/upload-artifact@v4
              with:
                name: dist-NotInriaParkas_Caml
                # ex. t/p/1412/mio7/l/Release.Darwin_x86_64/stderr1.log
                path: t/p/*/*/l/*/*

            - name: Archive NotInriaParkas_Caml
              if: github.ref_type != 'tag'
              uses: actions/upload-artifact@v4
              with:
                name: dist-NotInriaParkas_Caml
                path: dk-dist/

            - name: Attest
              if: github.ref_type == 'tag'
              id: attest
              uses: actions/attest-build-provenance@v3
              with: { subject-path: dk-dist/* }

            - name: Release ${{ github.workflow }}
              if: github.ref_type == 'tag'
              uses: softprops/action-gh-release@f38efdea4c5ffe13e9424b0aa2833bee28f1e34c # v2. Oct. 6, 2025
              with: { files: dk-dist/* }
