name: CommonsBase_Std@2.4.x  # we'll build this library
on:
  push:
    tags:
      - '2.4.*' # build if tag is pushed
  workflow_dispatch: # allow manual triggering from GitHub page

jobs:
    distribute:
        runs-on: windows-2022
        if: github.ref_type == 'tag' && startsWith(github.ref_name, '2.4.')
        permissions:
          id-token: write
          contents: write # for action-gh-release
          attestations: write

        # The secrets created by `dksrc/dk0 -- prepare-version --ci github VERSION`
        # are tied to this environment only.
        environment: dk-distribution
        steps:
            - name: Harden Runner # Optional but recommended
              uses: step-security/harden-runner@c6295a65d1254861815972266d5933fd6e532bdf # v2.11.1
              with: { egress-policy: audit }
            - name: Checkout project
              uses: actions/checkout@v5

            - name: Distribute Modules
              uses: diskuv/dk-distribute@v1
              with:
                  id: CommonsBase_Std@${{ github.ref_name }}
                  pubkey: ${{ secrets.distribute_2_4_pubkey }}
                  seckey: ${{ secrets.distribute_2_4_seckey }}
                  slots: |
                    Release.Windows_x86
                    Release.Windows_x86_64
                    Release.Darwin_arm64
                    Release.Darwin_x86_64
                    Release.Linux_x86
                    Release.Linux_x86_64
                  forms: |
                    CommonsBase_Std.S7z@25.1.0
                    CommonsBase_Std.Coreutils@0.2.2
                  use-cache: true
                  experimental-mlfront-ref: HEAD
                  options: -nosysinc -I etc/dk/v # special flags only for CommonsBase_Std: rebuild "system" modules

            - name: Generate artifact attestation
              id: attest
              uses: actions/attest-build-provenance@v3
              with: { subject-path: dk-dist/* }
            - name: Release ${{ github.workflow }}
              uses: softprops/action-gh-release@f38efdea4c5ffe13e9424b0aa2833bee28f1e34c # v2. Oct. 6, 2025
              with: { files: dk-dist/* }
