name: CommonsBase_Std@2.5.x  # we'll build this library
on:
  push:
    tags:
      - '2.5.*' # build if tag is pushed
    branches:
      - main    # will be translated to `dkdist_branch_version` (prerelease and build metadata can't be used when distributing versions)
  workflow_dispatch: # allow manual triggering from GitHub page
env:
  dkdist_branch_version: 2.5.1 # must have non-zero patch version

jobs:
    distribute:
        runs-on: windows-2022
        if: (github.ref_type == 'tag' && startsWith(github.ref_name, '2.5.')) || github.ref_name == 'main'
        permissions:
          id-token: write
          contents: write # for action-gh-release
          attestations: write

        # The secrets created by `dksrc/dk0 prepare-version --ci github VERSION`
        # are tied to this environment only.
        environment: dk-distribution
        steps:
            - name: Harden Runner # Optional but recommended
              uses: step-security/harden-runner@c6295a65d1254861815972266d5933fd6e532bdf # v2.11.1
              with: { egress-policy: audit }
            - name: Checkout project
              uses: actions/checkout@v5

            - name: Distribute Modules
              uses: diskuv/dk-distribute@v1
              with:
                  id: ${{ github.ref_type == 'tag' && format('CommonsBase_Std@{0}', github.ref_name) || format('CommonsBase_Std@{0}', env.dkdist_branch_version) }}
                  pubkey: ${{ secrets.distribute_2_5_pubkey }}
                  seckey: ${{ secrets.distribute_2_5_seckey }}
                  objects: |
                    Release.Windows_x86_64:CommonsBase_Std.S7z.S7zr@25.1.0
                    Release.Windows_x86_64:CommonsBase_Std.S7z.Windows7zExe@25.1.0

                    Release.Windows_x86:CommonsBase_Std.Coreutils@0.2.2
                    Release.Windows_x86_64:CommonsBase_Std.Coreutils@0.2.2
                    Release.Darwin_arm64:CommonsBase_Std.Coreutils@0.2.2
                    Release.Darwin_x86_64:CommonsBase_Std.Coreutils@0.2.2
                    Release.Linux_x86:CommonsBase_Std.Coreutils@0.2.2
                    Release.Linux_x86_64:CommonsBase_Std.Coreutils@0.2.2

                    Release.Windows_x86:CommonsBase_Std.S7z@25.1.0
                    Release.Windows_x86_64:CommonsBase_Std.S7z@25.1.0
                    Release.Darwin_arm64:CommonsBase_Std.S7z@25.1.0
                    Release.Darwin_x86_64:CommonsBase_Std.S7z@25.1.0
                    Release.Linux_x86:CommonsBase_Std.S7z@25.1.0
                    Release.Linux_x86_64:CommonsBase_Std.S7z@25.1.0

                    Release.Windows_x86:CommonsBase_Std.Fd@10.3.0
                    Release.Windows_x86_64:CommonsBase_Std.Fd@10.3.0
                    Release.Darwin_arm64:CommonsBase_Std.Fd@10.3.0
                    Release.Darwin_x86_64:CommonsBase_Std.Fd@10.3.0
                    Release.Linux_x86:CommonsBase_Std.Fd@10.3.0
                    Release.Linux_x86_64:CommonsBase_Std.Fd@10.3.0
                  scripts: |
                    CommonsBase_Std.Extract@0.1.0
                  use-cache: true
                  # TODO: put MlFront commit ref and/or version number into distribution; it is part of provenance.
                  #   Use HEAD when not tagged
                  # experimental-mlfront-ref: ${{ github.ref_type != 'tag' && 'HEAD' }}
                  #   Temporary: always use HEAD until MlFront testing is done
                  experimental-mlfront-ref: HEAD
                  options: -nosysinc -I etc/dk/v # special flags only for CommonsBase_Std: rebuild "system" modules

            - name: Generate artifact attestation
              id: attest
              uses: actions/attest-build-provenance@v3
              with: { subject-path: dk-dist/* }

            - name: Release ${{ github.workflow }}
              if: github.ref_type == 'tag'
              uses: softprops/action-gh-release@f38efdea4c5ffe13e9424b0aa2833bee28f1e34c # v2. Oct. 6, 2025
              with: { files: dk-dist/* }
            - name: Archive ${{ github.workflow }}
              if: github.ref_type != 'tag'
              uses: actions/upload-artifact@v4
              with:
                name: dist
                path: dk-dist/
